[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
"html2text" = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
language-check = "*"
flask = "*"
nltk = "*"


[dev-packages]



[requires]

python_version = "3.6"
